:root {
  --primary-color: rgba(255, 255, 255, 0.87);
  --secondary-color: rgb(36, 36, 36);

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-color);
  background-color: var(--secondary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  position: relative;
  /* outline: 2px solid red; */
}

body {
  margin: 0;
}

.rockTheCode-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.rockTheCode-gallery > .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rockTheCode-gallery > .card > .image-container {
  max-width: 200px;
}

.image-container > img {
  width: 100%;
}

.score-container > .star {
  font-size: 1.5rem;
}

.rockTheCode-modal {
  display: none;
  position: fixed;
  inset: 0;
  top: 15vh;
  margin: 0 auto;
  max-width: 90%;
  max-height: 60vh;
  width: 100%;
  z-index: 1;
  background-color: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .rockTheCode-modal {
    max-width: 80%;
  }
}